@charset "utf-8";
@font-face {
    font-family: idroid;
    src: url('fontes/idroid.otf') format('opentype');
}
strong{
    color: #259357;
}

body{
    background-color: #84E1AD;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

header{
    background-image: linear-gradient(to bottom, #3CD782, #1A5B37);
    margin: -18px -8px;
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
    padding: 5px;    
}
nav{
    text-align: left;
    color: white;
    font-weight: light;
    padding: 7px;
    
}
nav :hover{
    background-color: #84e1ac71;
    text-decoration: underline;
    border-radius: 5px;

}
header > nav > a{
    color: white;
    padding: 7px 10px 7px 10px;
    text-decoration: none;

}
main{
    margin: 18px 60px;
    padding: 2px 15px;
    background-color: white;
    text-align: justify;
    font-weight: bold;
}
main > p{
    text-indent: 25px;
}
    
main > h1{
    font-family: idroid;
    font-weight: 300;
    font-size: 20px;
    color: #259357;
}
main > h2{
    font-family: idroid;
    font-weight: 300;
    font-size: 16px;
    color: #259357;
    background-image: linear-gradient(to right, #7ec9a0bb, #7fc29d00);
}
main > p > a::after{
    content: ' [link]';
}
main > p > a:hover{
    text-decoration: underline;
}
main > p > a{
    color: #2a945a;
    text-decoration: none;
} 
aside{
    border:30px solid #1A5B37;
    margin:1px -15px;
}
section{
    background-color:#84e1acaf;
    padding: 0px 10px 20px 10px;
    border-radius: 10px;
    text-indent: 25px;
}
section > h2{
    color: white;
    font-size: 1.2em;
    padding: 8px;
    background-color: #59b982;
    margin: 10px -10px;
    border-radius: 10px 10px 0px 0px;
}
section > ul{
    text-indent: 0px;
}
main > section >p > a:hover{
    text-decoration: underline;
}
main > section >p > a{
    color: #2a945a;
    text-decoration: none;
}
main > section > p > a::after{
    content: ' [link]';
}
footer{
    text-align: center;
    background-color: #1A5B37;
    color: #84E1AD;
    font-weight: normal;
    font-size: 10px;
    padding: 5px;
}
footer > strong{
    color: white;
}


